<h2>Pagina de Registro</h2>
<form method="post" action="/api/sessions/signup">
    <input type="text" placeholder="nombre" name="name"/>
    <br/><br/>
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <button type="submit">registrarse</button>
</form>
<hr>
<a href="/forgot-password">
    <button>Restablecer constraseña</button>
</a>