<h2>Pagina para restablecer contrase単a</h2>
<p>Ingresa tu nueva contrase単a</p>
<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="nueva contrase単a" name="newPassword"/>
    <br/><br/>
    <button type="submit">Restablecer contrase単a</button>
</form>
<hr>
