<div>
    <h1>Registro</h1>
    <form action="/api/users" method="post">
        <label>nombre</label>
        <input name="name">

        <label>Apellido</label>
        <input name="last_name">

        <label>Email</label>
        <input name="email">

        <label>Edad</label>
        <input name="age" type="number">

        <label>Teléfono</label>
        <input name="phone">

        <input type="submit">
    </form>
</div>