<div>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restartPassword.js"></script>