<div>
    <h1>Registro</h1>
        <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <br>
        <label>Email</label>
        <input name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <br>
        <input type="submit">
    </form>
    <p>¿Ya tenes unacuenta? <a href="/login">Ingresa a tu cuenta aquí</a></p>
</div>
<script src="/js/register.js"></script>