<h1>Registro</h1>

<div>
    <form method="post" action="/api/sessions/signup">
        <input type="text" placeholder="Nombre" name="name"/>
        <br/>
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="contrasena" name="password"/>
        <br/>
        <button type="submit">Registrarse</button>
    </form>
</div>