<nav>
    <span><a href="/">Inicio</a></span>
    <span><a href="/signup">Registro</a></span>
    <span><a href="/login">Iniciar sesion</a></span>
    <span><a href="/products">Productos</a></span>
    <button id="logoutBtn">Cerrar sesion</button>
</nav>